annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
attrs==23.1.0
Babel==2.9.1
beautifulsoup4==4.12.2
cached-property==1.5.2
certifi==2023.11.17
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
cryptography==3.4.8
decorator==4.4.2
defusedxml==0.7.1
distro==1.8.0
docopt==0.6.2
docutils==0.16
ebaysdk==2.1.5
ERPpeek==1.7.1
freezegun==0.3.15
gevent==22.10.2
greenlet==2.0.2
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.5
isodate==0.6.1
Jinja2==3.1.2
libsass==0.20.1
lxml==4.9.2
MarkupSafe==2.1.2
num2words==0.5.9
ofxparse==0.21
openai==1.3.7
passlib==1.7.4
Pillow==9.4.0
polib==1.1.0
psutil==5.9.4
psycopg2==2.9.5
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pydot==1.4.2
pyOpenSSL==20.0.1
pyparsing==3.1.1
PyPDF2==2.12.1
pyserial==3.5
python-dateutil==2.8.1
python-ldap==3.4.0
python-stdnum==1.16
pytz==2023.3.post1
pyusb==1.2.1
qrcode==6.1
reportlab==3.6.12
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.1.0
vobject==0.9.6.1
Werkzeug==2.0.2
xlrd==1.2.0
XlsxWriter==1.1.2
xlwt==1.3.0
zeep==4.0.0
zope.event==5.0
zope.interface==6.1
